
.app-layout {
    height: 100%;
}

.app-layout .guest-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.app-layout .main-page {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

.app-layout .thread-list,
.app-layout .message-list {
    flex: 1;
}

.app-layout .action-bar {
    width: 80px;
    background: rgb(244, 244, 244);
}