
body, input, textarea {
  font-family: 'Source Han Sans CN', Optima, "Hiragino Sans GB";
  font-size: 18px;
  line-height: 2em;
}

input, textarea {
  border: none;
  outline: none;
  padding: 0.5em 1em;
}
